PORT=4006
NODE_ENV=development

API_URL=/api/v1

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=notification_service_db

PG_POOL_MAX=10
PG_IDLE_TIMEOUT_MS=30000
PG_CONNECTION_TIMEOUT_MS=5000

JWT_PUBLIC_KEY_PATH=./keys/public.pem

EMAIL_USER=youraddress@gmail.com
EMAIL_APP_PASSWORD=your16digitapppassword

CORS_ORIGIN=http://localhost:3000